{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="row"><div class="col-lg-12"><h1 class="page-header">Gr&aacute;ficos de variables</h1></div></div>
{% endblock title %}

{% block content %}   
  <div class="row circleStats">
      Registros procesados: {{ embalse.count }} 4320
  </div>

<!--start array--->


<!-- Array 0 :embalse level-->
<div class="row"><div class="col-lg-12"><h1 class="page-header">N1EM (Embalse)</h1></div></div>
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv0" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv0"),"fecha,Nivel\n"{% for i in nivel_em %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.nivel_m3 }}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Nivel [m3]",color: "violet",});</script></div></div><br/><br/>

<!-- Array :Estanque Level -->
<div class="row"><div class="col-lg-12"><h1 class="page-header">S1EA (Estanque Alto)</h1></div></div>
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv20" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv20"),"fecha,nivel\n"{% for i in nivel_es %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.nivel_m3}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Nivel [m3]",color: "red",});</script></div></div>
<br/>

<!-- Array 13 :ETo-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv13" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv13"),"fecha,ETo\n"{% for i in eto %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.ETo}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "ETo [mm/dia]",color: "blue",});</script></div></div>
<br/>

<!-- Array 6 :temperatura-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv6" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv6"),"fecha,temperatura\n"{% for i in temperatura %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.temperatura}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Temperatura [\u2103]",color: "orange",});</script></div></div><br/><br/>
<br/>

<!-- Array 7 :humedad-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv7" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv7"),"fecha,humedad\n"{% for i in humedad %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.humedad}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Humedad [%]",color: "light blue",});</script></div></div><br/><br/>
<br/>

<!-- Array 8 :puntorocio-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv8" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv8"),"fecha,punto roc\u00EDo\n"{% for i in rocio %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.puntorocio}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Punto de Roc\u00EDo [\u2103]",color: "brown",});</script></div></div><br/><br/>
<br/>

<!-- Array 9 :radiacion-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv9" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv9"),"fecha,radiaci\u00f3n\n"{% for i in radiacion %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.radiacion}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Radiaci\u00f3n [W/m2]",color: "salmon",});</script></div></div><br/><br/>
<br/>

<!-- Array 2 :par-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv2" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv2"),"fecha,par\n"{% for i in par %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.par}}\n"{% endfor %},{rollPeriod: 1,showRangeSelector: true, ylabel: "Par [umol/m2/s]",color: "green",});</script></div></div><br/><br/>
<br/>

<!-- Array 1 :presion-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv1" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv1"),"fecha,presi\u00f3n\n"{% for i in presion %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.presion}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Presi\u00f3n [mb]",color: "black",});</script></div></div><br/><br/>
<br/>

<!-- Array 4 :viento_vel-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv4" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv4"),"fecha,Vel. viento\n"{% for i in viento %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.viento_vel_km}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Velocidad Viento [km/h]",color: "red",});</script></div></div><br/><br/>
<br/>

<!-- Array 5 :viento_raf-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv5" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv5"),"fecha,raf. viento\n"{% for i in viento %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.viento_raf_km}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "R\u00e1faga Viento [Km/h]",color: "purple",});</script></div></div><br/><br/>
<br/>

<!-- Array 3 :viento_dir-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv3" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv3"),"fecha,dir viento\n"{% for i in viento %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.viento_dir}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Direcci\u00f3n Viento [Grados]",color: "blue",});</script></div></div><br/><br/>
<br/>

<!-- Array 10 :lluvia-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv10" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv10"),"fecha,lluvia\n"{% for i in lluvia %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.lluvia}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Lluvia [mm/h]",color: "red",});</script></div></div>
<br/>

<!-- Array 11 :lluvia-->
<div class="row circleStats"><div class="col-md-2 col-sm-4 col-xs-6"><div id="graphdiv11" style="clear:both;width:500px;height:200px;"></div><script type="text/javascript">g = new Dygraph(document.getElementById("graphdiv11"),"fecha,lluvia_ac\n"{% for i in lluvia_ac %}+"{{ i.fecha|date:"Y/m/d H:i:s" }},{{ i.lluvia_ac}}\n"{% endfor %},{rollPeriod: 1, showRangeSelector: true, ylabel: "Lluvia Ac [mm]",color: "purple",});</script></div></div>
<br/>
<!--end array--->

{% endblock %}
